<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/home.css">
  </head>

  <body>
    <section class="trends">
        <% for (let index = 0; index < photo.length; index++) { %>
          <form action="film" method="post">
            <input type="text" hidden name="id" value="<%= photo[index][0] %>">
            <input class="thumbnail" type="image" src="<%= photo[index][1] %>" alt="film">
          </form>
        <%
          }
        %>
    </section>

    <section class="all-films">
      films
    </section>
  </body>
</html>
