<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>MovieDex</title>
    <link rel="stylesheet" href="static/css/home.css">
  </head>

  <body>
    <section class="trends">
      trends
    </section>
    <section class="all-films">
      films
    </section>
  </body>
</html>
