<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Mes Dex</title>
	<link rel="stylesheet" href="/css/register.css">
  </head>

  <body>
    <div class="register-photo">
	<div class="form-container">
		<div class="image-holder">
			<img src="" alt="">
		</div>

		<form method="post">
			<h2 class="text-center">Se <strong>connecter</strong>.</h2>

			<div class="form-group">
				<input class="form-control" type="text" name="username" placeholder="Nom d'utilisateur ou email">
			</div>
			
			<div class="form-group">
				<input class="form-control" type="password" name="password" placeholder="Mot de passe">
			</div>

			<div class="form-group">
				<button class="btn btn-primary btn-block" type="submit">Connexion</button>
			</div>

			<br>
			
			<a href="register" class="already">Vous n'avez pas encore de compte ? Créer un compte ici.</a>
		</form>
	</div>
</div>
  </body>
</html>