.all-data-dex-container {
	display: grid;
	grid-template-columns: 40% auto;
	grid-template-rows: 30% auto 5%;
	height: 85%;
	gap: 1em;

	justify-content: center;

	
	background-color: rgb(47, 47, 47);
    border: 1px black solid;
    border-radius: 16px;
	padding: 16px;
	align-self: center;
	
	.dex-display {
		grid-column: 1/2;
	}

	.dex-info{
		grid-column: 2/3;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1em;

		.title,
		.genres,
		.description{
			padding: 3px;
			border: 1px black solid;
			background-color: rgb(28, 28, 28);
			border-radius: 16px; 
		}
	}

	.dex-movies{
		grid-column: 1/3;
		position: relative;
		display: grid;
		grid-template-columns: repeat(10,100px);
		grid-template-rows: repeat(2,150px);
		gap: 1em;
		justify-content: center;

		

		.movie-dex {
			text-decoration: none;
			font-size: 1.03em;
			background-color: rgb(22, 22, 22);
			border-radius: 16px;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.movie-thumbnail {
				height: 120px;
				width: 75px;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
			}

			.remove-movie-button{
				visibility: hidden;
			}

			.remove-movie-button:hover{
				background-color: red;
			}
			

		}

		.movie-dex:hover {
			transform: scale(1.1);

			.remove-movie-button{
				visibility: visible;
			}

			.movie-thumbnail{
				visibility: hidden;
			}
		}
	}
}

.user-options{
	display: flex;
	justify-content: center;
	background-color: rgb(28, 28, 28);
    border: 1px black solid;
    border-radius: 0 0 16px 16px;
	padding: 6px;
	grid-column-start: 1;
	grid-column-end: 3;
	align-items: center;}

.delete-dex-button:hover{
	background-color: red;
}
