.dex_display {
    border: 1px solid black;
    border-radius: 16px;
    text-decoration: none;
    background-color: #1f1f1f;

    .dex_display_name {
        margin: 15px;
        border: 1px solid black;
        border-radius: 16px;
        background-color: rgb(22, 22, 22);
    }

    .movies_display {
        display: flex;
        flex-direction: row;
        width:100%;
        justify-content: center;
        gap: 2em;

        .movie_thumbnail {
                height: 150px;
                width: 100px;
                margin-bottom: 15px;
            }
    }
}

.dex_display:hover {
    background-color: #131313;
    transition-duration: 0.3s;
	transform: scale(1.1);

    .dex_display_name {
        background-color: rgb(15, 15, 15);
    }
}