.create-dex-button {
    margin: 30px;
    font-size: 30px;
}

.dex-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movies-display {
    display: flex;
    flex-direction: row;

    
}

.movie {
    height: 150px;
    width:100px;
}

a {
    text-decoration: none;
}

.dex-display {
    margin: 5px;
    margin-bottom: 10px;
    flex: 0 0 calc(33.33% - 10px);
    box-sizing: border-box;
}

