.all-data-dex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1%;

	
	background-color: rgb(47, 47, 47);
    border: 1px black solid;
    border-radius: 16px;
	padding: 16px;
	align-self: center;
	
	.dex_display {
		width:	33%;
		height: 250px;
	}

	.dex-info{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1em;
		width: 66%;

		.title,
		.genres,
		.creator {
			padding: 3px;
			border: 1px black solid;
			background-color: rgb(28, 28, 28);
			border-radius: 16px;
			overflow: hidden;
		}

		.creator a {
			text-decoration: none;
		}

		.title{
			overflow:inherit;
		}
	}

	.dex-movies{
		margin: 32px 0 ;
		width: 100%;
		position: relative;
		display: grid;
		grid-template-columns: repeat(10,100px);
		grid-template-rows: 150px;
		grid-auto-rows: 150px;
		gap: 1em;
		justify-content: center;

		

		.movie-dex {
			text-decoration: none;
			font-size: 1.03em;
			background-color: rgb(22, 22, 22);
			border-radius: 16px;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.movie-thumbnail {
				height: 120px;
				width: 75px;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
			}

			.remove-movie-button{
				visibility: hidden;
			}

			.remove-movie-button:hover{
				background-color: red;
			}
			

		}

		.movie-dex:hover {
			transform: scale(1.1);

			.remove-movie-button{
				visibility: visible;
			}

			.movie-thumbnail{
				visibility: hidden;
			}
		}
	}

	.dex_description {
		padding: 3px;
		border: 1px black solid;
		background-color: rgb(28, 28, 28);
		border-radius: 16px;
	}
}

.user-options{
	display: flex;
	justify-content: center;
	background-color: rgb(28, 28, 28);
    border: 1px black solid;
    border-radius: 16px;
	padding: 6px;
	align-items: center;
}

.delete-dex-button:hover{
	background-color: red;
}
