.trends {
    user-select: none;
    display: flex;
    align-self: center;
    flex-wrap: wrap;

    top: 35em;
}

.move {
    position:relative;
}


.thumbnail {
    /* ratio-initial = 104:69 */
    height: 261px;
    width: 173px;

    margin: 3px;
}

.trendsMovies {
    background-color: rgb(47, 47, 47);
    border: 1px black solid;
    border-radius: 16px;
}

h1 {
    margin: 8px;
    border: 1px black solid;
    background-color: rgb(22, 22, 22);
    border-radius: 16px;    
}