.trends {
    user-select: none;
    display: flex;
    align-self: center;
    flex-wrap: wrap;

    top: 35em;
}

.move {
    position:relative;
}


.thumbnail {
    /* ratio-initial = 104:69 */
    height: 261px;
    width: 173px;

    margin: 3px;
}