.dex {
	display: grid;
	flex-direction: row;

	justify-content: space-between;
}

.dex-container {
	display: grid;
	flex-direction: row;
	
	justify-content: space-between;
}

.create-dex-button {
	border: 1px white solid;
	border-radius: 16px;
}

.create-dex-button:hover {
    background-color: #1f1f1f;
}