.dex {
	display: grid;
	flex-direction: row;

	justify-content: space-between;
}

.dex-container {
	display: grid;
	flex-direction: row;
	
	justify-content: space-between;
}

.create-dex-button {
	border: 1px white solid;
	border-radius: 16px;
}

.create-dex-button:hover {
    background-color: #1f1f1f;
}

.my-dexes-container {
	display: flex;
	flex-direction: column;

	
	background-color: rgb(47, 47, 47);
    border: 1px black solid;
    border-radius: 16px;
	padding: 6px 15px;
}

.title {
    margin: 8px;
	padding: 8px;
    border: 1px black solid;
    background-color: rgb(22, 22, 22);
    border-radius: 16px; 
}