.a {
	text-decoration: none;
	color:#fff;
}

.navbar {
	display: flex;
	justify-content: space-between;
	height: 6em;
}

.navbar-left,
.navbar-middle,
.navbar-right {
	width: 33%;
	display: flex;
	align-items: center;
}

.navbar-left{
	/* background-color: red; */
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}

.navbar-middle{
	/* background-color: blue; */
	justify-content: center;
}

.navbar-right{
	/* background-color: green; */
	justify-content: flex-end;
}

.MovieDex,
.random-movie,
.daily-movie {
	padding: 3px;
	border: 1px solid #fff;

}