.main-container {
    border:1px solid black;
    background-color: rgb(28, 28, 28);
    padding: 20px;
    border-radius: 5px;
}

.disconnect {
    border:1px solid black;
    background-color: rgb(28, 28, 28);
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
    font-size: x-large;
    margin-bottom: 100px;
}

.info-container{
    border:1px solid black;
    background-color: rgb(47, 47, 47);
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
    font-size: medium;
    
}

.fav-movies {
        grid-column: 1/3;
		position: relative;
		display: grid;
		grid-template-columns: repeat(10,100px);
		grid-template-rows: repeat(2,150px);
		gap: 1em;
		justify-content: center;
        margin-left: 550px;
        margin-top: 80px;

    
		.movie-thumbnail {
			height: 120px;
			width: 75px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}

        .movie-cont {
			text-decoration: none;
			font-size: 1.03em;
			background-color: rgb(22, 22, 22);
			border-radius: 16px;
			position: relative;
            margin-top: -25px;
		}


}     


