<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Mes Dex</title>
  </head>

  <body>
      <a href="create-dex">Créer une dex</a>
      <br>
        <% for (let i = 0; i < dexes.length; i++) {%>
          <form action="dex" method="post">
            <input type="text" hidden name="id" value="<%= dexes[i]['_id'] %>">
              <%= dexes[i]["name"] %>
              <%= dexes[i]["genres"] %>
              <%= dexes[i]["movies"] %>
            <input type="submit">
          </form>
        <% } %>
      </table>


  </body>
</html>