<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>MovieDex</title>
    <link rel="stylesheet" href="/css/navbar.css" />
  </head>

  <header>
    <section class="left">
      <img src="" alt="" />
      <img class="navbar-element" src="" alt="moviedex_logo" />
      <a href="" class="navbar-element">Roulette</a>
    </section>
    <section class="middle">
      <a href="home" class="navbar-element">MovieDex</a>
    </section>
    <section class="right">
      <a href="results" class="navbar-element">Recherche</a>
      <a href="profile" class="navbar-element">Profil</a>
    </section>
  </header>

  <body>
    <section>
      <h1>MovieDex</h1>
    </section>
  </body>
</html>
