<footer class="mastfoot mt-auto">
  <div class="inner">
    <p><a href="home">MovieDex.be</a> from Bellon Matthieu.</p>
    <p>MovieDex.be est un projet étudiant et ne respecte pas les normes de sécurités. Ne divulgez jamais vos informations personnelles</p>
  </div>
</footer>
