<header class="masthead mb-auto">
  <div class="inner">
    <a href="home"><h3 class="masthead-brand"><strong>MovieDex</strong></h3></a>
    <a href="random-movie"><h3 class="masthead-brand second">RM</h3></a>
    <a href="daily-movie"><h3 class="masthead-brand second">DM</h3></a>
    <nav class="nav nav-masthead justify-content-center">
      <form class="nav-link" action="search" method="post">
        <input class="search-field" type="text" name="search" placeholder="Recherche">
        <input class="submit-button" type="submit">
      </form>
      <a class="nav-link" href="my-dexes">Mes dexs</a>
      <li class="nav-link dropdown-name">
        <a class="nav-item" href="profile">Profil</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="settings">Paramètres</a></li>
          <li><a class="dropdown-item" href="log-out">Se déconnecter</a></li>
        </ul>
      </li>
    </nav>
  </div>
</header>

<script>
  document.querySelectorAll(".nav-link").forEach(nI => {
    if (window.location.href == nI.href || (window.location.pathname == "/" && nI.href.endsWith("home")))
      nI.classList.add("active");
  })
</script>
