<header class="masterhead">
  <div class="navbar">
    <div class="navbar-left">
      <a href="home"><h1 class="MovieDex"><strong>MovieDex</strong></h1></a>
      <a href="random-movie"><h3 class="random-movie">Random Movie</h3></a>
      <a href="daily-movie"><h3 class="daily-movie">Daily Movie</h3></a>
    </div>
    
    <div class="navbar-middle">
      <form class="form-search" action="search" method="post">
        <input class="search-field" type="text" name="search" placeholder="Recherche">
        <input class="submit-button" type="submit">
      </form>
    </div>

    <div class="navbar-right">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="my-dexes">Mes dexs</a>
        <li class="nav-link dropdown-name">
          <a class="nav-item" href="profile">Profil</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="settings">Paramètres</a></li>
            <li><a class="dropdown-item" href="log-out">Se déconnecter</a></li>
          </ul>
        </li>
      </nav>
    </div>

    
  </div>
</header>

<script>
  document.querySelectorAll(".nav-link").forEach(nI => {
    if (window.location.href == nI.href || (window.location.pathname == "/" && nI.href.endsWith("home")))
      nI.classList.add("active");
  })
</script>
