<header class="masthead mb-auto">
  <div class="inner">
    <a href="home" class="masthead-brand second"><img class="logoMovieDex" src="/img/MovieDexLogoWhiteComplete.png" alt="logoMovieDex"></a>

    <nav class="nav nav-masthead justify-content-center">
      <form class="search-field" action="search" method="post">
        <input type="search" name="query" placeholder="Rechercher">
        <input type="submit" value="Rechercher">
      </form>
      <a class="nav-link" href="random-movie">Film Aléatoire</a>
      <a class="nav-link" href="daily-movie">Film du jour</a>
      <a class="nav-link" href="my-dexes">Mes Dexs</a>
      <a class="nav-link" href="profile">Profil</a>
    </nav>
  </div>
</header>

<script>
  document.querySelectorAll(".nav-link").forEach(nI => {
    if (window.location.href == nI.href || (window.location.pathname == "/" && nI.href.endsWith("home")))
      nI.classList.add("active");
  })
</script>
